/*Global settings and overrides*/

/*Slider*/
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #e1e3e4;
      border-radius: 5px;
    }
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
      border-radius: 5px;
    }
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #4F91E1;
      box-shadow: -12vw 0 0 12vw #4F91E1;
    }

}
/*FF*/
input[type="range"]::-moz-range-progress {
  background-color: #4F91E1;
}
input[type="range"]::-moz-range-track {
  background-color: #e1e3e4;
  border-radius: 5px;
}
/*IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #4F91E1;
}
input[type="range"]::-ms-fill-upper {
  background-color: #e1e3e4;
  border-radius: 5px;
}

* {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 800px;
  overflow: hidden;
}

.leaflet-left {
  display: none;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Lato', monospace;
  font-size: 14px;
}

.main .widget {
  background-color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 0.7rem;
}
/*
  Components
  ---
*/
.main .label {
  pointer-events: none;
  user-select: none;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

/*
  Panel
  ---
*/
.main .panel {
  transition: width 250ms ease-out;
  background-color: #EDEFF5;
  left: 50px;
}
.main .panel:not(.closed) {
  box-shadow: 1px 0 5px 3px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  padding: 30px 10px 30px 20px;
  width: calc(40vw - (50px + 22px));
  max-width: 500px;
}
.main .panel > .label {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

/*
  Toolbar
  ---
*/
.main .toolbar {
  background-color: #2F323A;
}
.main .togglePanel {
  width: 100%;
  height: 26px;
  padding: 15px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #4a4e58;
}
.main .togglePanel .toggle-label {
  background-image: url(/map-customiser/icons/cog-off.svg);
  width: 100%;
  height: 100%;
}
.main .togglePanel.active {
  background-color: #4F91E1;
  opacity: 1;
}
.main .togglePanel.active .toggle-label {
  background-image: url(/map-customiser/icons/cog-on.svg);
}

/*
  Toggle population
  ---
*/
.main .panel:not(.closed) .toggleGroup.toggleDots {
  display: flex;
}
.main .toggleGroup.toggleDots {
  justify-content: space-between;
}
.main .toggleGroup.toggleDots .toggle {
  padding: 3px;
  width: 17px;
  height: 17px;
  opacity: 1;
  background-color: transparent;
  border-width: 2px;
  border-radius: 50%;
}
.main .toggleGroup.toggleDots .toggle-label {
  background-image: url(/map-customiser/icons/eye-slash.svg);
}
.main .toggleGroup.toggleDots .toggle.active {
  border-color: #4F91E1;
}
.main .toggleGroup.toggleDots .toggle {
  border-color: rgba(0, 0, 0, 0.5);
}
.main .toggleGroup.toggleDots .active .toggle-label {
  background-image: url(/map-customiser/icons/eye.svg);
}

/*Sliders*/

.main .panel:not(.closed) .slider {
  display: flex;
}
.main .slider {
  justify-content: space-between;
}
.main .slider .range-container {
  width: 70%;
}
.main .slider .range-container .range {
  width: 12vw;
  max-width: 190px;
  min-width: 140px;
}
.main .slider .range-container .range-value {
  color: rgba(0, 0, 0, 0.5);
  width: 5vw;
  max-width: 80px;
  min-width: 40px;
  margin-left: 20px;
  display: inline-block;
  border-left: 1px solid #edeff5;
  text-align: center;
}


/*RGB*/
.main .rgb .slider {
  margin: 0;
  border-radius: 0;
  padding: 2px 13px;
}
.main .color-group,
.main .fill-color-group {
  border: 1px solid #edeff5;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.main .color-group .slider,
.main .fill-color-group .slider {
    border: none;
}
.main .rgb-preview {
  border: 2px solid #4F91E1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.main .rgb-preview-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #edeff5;
  margin-bottom: 0.7rem;
  padding: 0.7rem 0;
}
.main .rgb-preview-container,
.main .rgb .slider .label {
  color: rgba(0, 0, 0, 0.5);
}
