.toggle {
  border: 1px solid;
  background-color: grey;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.toggle, .toggle .toggle-label {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.toggle .toggle-label {
  width: 100%;
  height: 100%;
}

.toggle.active {
  opacity: 0.5;
}
